body {
  @include font-size(m);
  @include font;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

h1,
h2,
h4,
h5 {
  font-weight: 700;
  color: #000;
}

h3 {
  font-weight: 400;
}

h2 {
  text-align: center;
}

.title {
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
}

.title__main {
  font-size: 32px;
}

.title__text {
  font-size: 20px;
  width: 780px;
  margin: 0 auto;
}

.yellow {
  color: $bg-color;
}
